################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Tccc2019.ApiStarter/bin
/Tccc2019.ApiStarter/obj
